.container{
  background-color: aliceblue;
}
h1{
  color: black;
}

p{
  font-size: 100px;

}

.fontColor{
  color: red;
}

.fontColor2{
  color: green;
}

.button{
  cursor: pointer;
  text-align: center;
  color: white;
  background-color: orangered;
  border: 3px solid red;
  width: 350px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

.secondDiv{
  background-color: green;
  width: 500px;
  font-size: 30px;
}
